
<footer>
    <div class="first_col">

            <h3>
                <img src="../../assets/step2.png">
            </h3>
            <br>
            <div class="socials">
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-linkedin"></i>
                <i class="fa-brands fa-x-twitter"></i>
            </div>
    </div>
    <div class="second_col">
        <div class métiers style="font-weight: bolder;">Nos métiers</div>
        <div><br></div>
        <div>Flux documentaires</div>
        <div>Studio de développement</div>
        <div>Atelier numérique</div>
        <div>Livraison urbaine</div>
        <div>Service postal</div>
    </div>
    <div class="third_col">
        <div style="font-weight: bolder;">Nos missions</div>
        <div><br></div>
        <div>Nos Valeurs</div>
        <div>Gouvernance</div>
        <div>Partenaires</div>
    </div>
    <div class ="fourth_col">
        <div style="font-weight: bolder;">Step</div>
        <div><br></div>
        <div>Mentions légales</div>
        <div>Eco Conception</div>
        <div>Contactez-nous</div>
    </div>
    <div class="fifth_col">
        <div style="font-weight: bolder;">Exercia</div>
        <div><br></div>
        <div>Consectetur</div>
        <div>Adipiscing</div>
        <div>Eiusmod</div>
        <div>Tempor</div>
        <div>Incididunt</div>
    </div>
</footer>