/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';



input, label, h1, h2, h3, h4, h5, h6, p, li, a, span, pre {
    font-family: 'Rubik';font-size: 22px;
}
li {
    list-style: none;
}

* {
	margin: 0;
}
html, body {
	height: 100%;
}